body {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.container-fluid {
    margin: auto;
    padding: 3% 15px;
    width: 60%;
}

section:nth-child(even) {
    background-color: #eef1f9;
}

.active {
    color: #429dfb;
}

/*HEADINGS*/
.heading {
    color: #0072a1;
    font-family: 'Montserrat-Bold', serif;
    font-size: 3rem;
    font-weight: bold;
    margin: 10px;
    padding: 10px;
    text-align: center;
}

.sub-heading {
    color: #009ADA;
    font-size: 2rem;
    font-weight: bold;
    margin: 5px;
    padding: 10px;
}

.content-heading {
    font-size: 1.5rem;
    font-weight: bold;
}

.item {
    margin: 30px 0;
}

.role {
    font-family: 'Montserrat-Light', serif;
    font-style: italic;
}

.bold {
    font-weight: bold;
}

.highlight {
    color: #429dfb;
}

.first {
    margin-top: 0;
}

/* NavBar */
.nav-item {
    padding: 0 10px;
}

/* Profile */
.profile {
    margin-left: 0;
    padding-left: 0;
    text-align: left;
}

.profile-pic {
    border-radius: 50%;
    display: block;
    height: 300px;
    margin: 15% auto;
    width: 300px;
}

#profile .col-lg-7 {
    margin-top: 5%;
}

/* Education */
.course-work {
    margin-top: 10px;
    margin-bottom: 10px;
}

.date {
    text-align: right;
}

@media(max-width: 1000px) {
    .date {
        text-align: left;
    }
}

/* Projects */
#projects .project-details {
    font-size: 1.5rem;
    padding-top: 50px;
    text-align: center;
}

#projects .btn {
    bottom: 80px;
    right: 70px;
}

/* Experience */
.project {
    margin: auto;
    overflow: hidden;
}

.project-pic {
    display: block;
    height: 250px;
    margin: 0 auto;
    width: 250px;
}

.project-details {
    background-color: #5fa8e3;
    color: #fff;
    display: none;
    font-weight: bold;
    height: 250px;
    left: 26.75px;
    /* left: 65.297px; */
    opacity: 0.80;
    padding: 20px;
    position: absolute;
    top: 0;
    width: 250px;
}

.project .btn {
    bottom: 20px;
    position: absolute;
}

.project .btn:hover {
    color: #0072a1;
}

@media(max-width: 1350px) {
    .row {
        display: block;
    }

    #profile .container-fluid {
        margin-left: auto;
        margin-right: auto;
    }

    .profile.heading {
        text-align: center;
    }

    .project {
        margin-bottom: 20px;
    }

    .project-details {
        left: 15px;
        top: 0;
    }
}

@media(max-width: 990px) {
    .project-details {
        left: 165px;
    }
}

/* Skills */
.bar {
    background-color: #ddd;
    border-radius: 3px;
    margin: 10px;
    position: relative;
}

.barfill {
    background-color: #427ca9;
    border-radius: 3px;
    height: 30px;
    width: 0;
}

.skill {
    background-color: #5fa8e3;
    border-radius: 3px 0 0 3px;
    color: white;
    height: 30px;
    position: absolute;
    text-align: center;
    width: 100px;    
}

.percent {
    position: absolute;
    right: 10px;
    top: 0;
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
}

footer .container-fluid {
    padding-top: 5px;
    padding-bottom: 5px;
}

footer .heading, footer a {
    color: #fff;
}

.icon {
    color: #fff;
    margin: 20px 30px;
    opacity: 0.5;
}

.icon:hover, footer a:hover {
    color: #fff;
    opacity: 1;
}

footer div {
    padding: 5px;
}

footer p {
    opacity: 0.5;
    padding: 5px;
}